---
layout: render-layout.njk
title: NYS Digital Service Data Table for CART
permalink: "aside/"
data: _CART
---

<header> 
  <aside> THIS IS AN ASIDE in a header element. Apparently this fails deque's standard of interpreting the aria-spec</aside>
  </header>
<main>
    <aside> THIS IS AN ASIDE in a main element. Apparently this guy feels special and can be ok. </aside>
</main>
<aside> The is an ASIDE between shit that you would never do in real html. It makes no sense. 
  </aside>


<footer>
      <aside> THIS IS AN ASIDE in a footer element. Apparently this also fails for some reason. </aside>
</footer>