---
layout: nygov.njk
title: Blog Cards
permalink: "blog-cards/"
---
<div style="height:15%;"></div>

{% from '../_includes/_components.njk' import blogChips, feedback %}
<style>{% include '../_includes/blogChips/_blogChips.css'  %}</style>





<div class="t-section__content -t_wrap o-cardsQueue padding-bottom">
    <div class="t-headline -showTitleSubheadline">
        <h2 class="pTitleWrapper">
            <span class="a-pTitle a-card__title">
                Featured
            </span>

            <span class="a-pHeadline a-card__subHeadline">
                News
            </span>
        </h2>
    </div>

    <div class="t_cardsOuter">
        <div class="t_cardsWrap">
            <div class="t_cardContainer">
                <style>
                    .o-cardLogo.-index1.-paragraph3 {
                        background-image: url("https://www.governor.ny.gov/sites/default/files/styles/card_vertical/public/2024-08/Governor%27sSeal1280x512_1.jpg?h=b5f6a62e&itok=G3wS21jf");
                    }
                    .o-quickCardLogo.-index1.-paragraph3 {
                        background-image: url("https://www.governor.ny.gov/sites/default/files/styles/card_vertical/public/2024-08/Governor%27sSeal1280x512_1.jpg?h=b5f6a62e&itok=G3wS21jf");
                    }
                    @media (min-width: 768px) {
                        .o-cardLogo.-index1.-paragraph3 {
                            background-image: url("https://www.governor.ny.gov/sites/default/files/styles/card_horizontal/public/2024-08/Governor%27sSeal1280x512_1.jpg?itok=1KTiaevA");
                        }
                    }
                </style>

                <style>
                    @media (min-width: 1024px) {
                        .o-cardLogo.-index1.-paragraph3 {
                            background-image: url("https://www.governor.ny.gov/sites/default/files/styles/card_vertical/public/2024-08/Governor%27sSeal1280x512_1.jpg?h=b5f6a62e&itok=G3wS21jf");
                        }
                    }
                </style>

                <article class="o-cardGlobalTablet">
                    <div>
                        <a href="/news/remarks-prepared-governor-kathy-hochuls-opening-statement-united-states-house-committee" class="o-cardLogo -index1 -paragraph3" aria-hidden="true" tabindex="-1" data-once="nygovExitModal">
                            <span class="sr-only">Governor Hochul's Opening Statement to House Committee</span>
                        </a>
                    </div>
                    <div class="o-cardContent">
                        <div class="m-card__data">
                            <h3>
                                <a class="a-card__label" href="/news/remarks-prepared-governor-kathy-hochuls-opening-statement-united-states-house-committee" data-once="nygovExitModal">
                                    Governor Hochul's Opening Statement to House Committee
                                </a>
                            </h3>
                            <span class="a-date a-date-14 text-bold text-uppercase">June 12, 2025</span>
                            

                            <div class="a-text__html a-card__description"><p>Read Governor Hochul's remarks as prepared to the House Committee on Oversight and Government Reform.</p></div>
                            {# ------- BLOG CATEGORIES ADDED ---------------- #}
                                {{
                                    blogChips({
                                        index:"1",
                                        chips: [
                                            {
                                                link:"#",
                                                text:"Human-centered Design"
                                            },
                                            {
                                                link:"#",
                                                text:"Accessibility"
                                            },
                                            {
                                                link:"#",
                                                text:"Digital Standards"
                                            },
                                            {
                                                link:"#",
                                                text:"Customer Experience"
                                            }
                                        ]   
                                    })
                                }}
                            {# ------- BLOG CATEGORIES ADDED ---------------- #}
                        </div>
                    </div>
                </article>
            </div>
            <div class="t_cardContainer">
                <style>
                    .o-cardLogo.-index2.-paragraph3 {
                        background-image: url("https://www.governor.ny.gov/sites/default/files/styles/card_vertical/public/thumbnails/image/broadband_hero_0.png?h=b5f6a62e&itok=nI0tpj8i");
                    }
                    .o-quickCardLogo.-index2.-paragraph3 {
                        background-image: url("https://www.governor.ny.gov/sites/default/files/styles/card_vertical/public/thumbnails/image/broadband_hero_0.png?h=b5f6a62e&itok=nI0tpj8i");
                    }
                    @media (min-width: 768px) {
                        .o-cardLogo.-index2.-paragraph3 {
                            background-image: url("https://www.governor.ny.gov/sites/default/files/styles/card_horizontal/public/thumbnails/image/broadband_hero_0.png?itok=L6wy-3XY");
                        }
                    }
                </style>

                <style>
                    @media (min-width: 1024px) {
                        .o-cardLogo.-index2.-paragraph3 {
                            background-image: url("https://www.governor.ny.gov/sites/default/files/styles/card_vertical/public/thumbnails/image/broadband_hero_0.png?h=b5f6a62e&itok=nI0tpj8i");
                        }
                    }
                </style>

                <article class="o-cardGlobalTablet">
                    <div>
                        <a href="/news/governor-hochul-announces-groundbreaking-299-million-sullivan-county-broadband-project-connect" class="o-cardLogo -index2 -paragraph3" aria-hidden="true" tabindex="-1" data-once="nygovExitModal">
                            <span class="sr-only">Groundbreaking of Sullivan County Broadband Project</span>
                        </a>
                    </div>
                    <div class="o-cardContent">
                        <div class="m-card__data">
                            <h3>
                                <a class="a-card__label" href="/news/governor-hochul-announces-groundbreaking-299-million-sullivan-county-broadband-project-connect" data-once="nygovExitModal">
                                    Groundbreaking of Sullivan County Broadband Project
                                </a>
                            </h3>
                            <span class="a-date a-date-14 text-bold text-uppercase">June 12, 2025</span>
                           

                            <div class="a-text__html a-card__description">
                                <p>
                                    Governor Hochul announced the groundbreaking of a $29.9 million broadband infrastructure project in Sullivan County that will bring high-speed internet access to more than 22,000 homes and businesses
                                    across the region's rural and mountainous terrain.
                                </p>
                            </div>
                            {# ------- BLOG CATEGORIES ADDED ---------------- #}
                                {{
                                    blogChips({
                                        index:"2",
                                        chips: [
                                            {
                                                link:"#",
                                                text:"Human-centered Design"
                                            },
                                            {
                                                link:"#",
                                                text:"Accessibility"
                                            },
                                            {
                                                link:"#",
                                                text:"Digital Standards"
                                            }
                                        ]   
                                    })
                                }}
                            {# ------- BLOG CATEGORIES ADDED ---------------- #}
                        </div>
                    </div>
                </article>
            </div>
            <div class="t_cardContainer">
                <style>
                    .o-cardLogo.-index3.-paragraph3 {
                        background-image: url("https://www.governor.ny.gov/sites/default/files/styles/card_vertical/public/2024-08/Governor%27sSeal1280x512_1.jpg?h=b5f6a62e&itok=G3wS21jf");
                    }
                    .o-quickCardLogo.-index3.-paragraph3 {
                        background-image: url("https://www.governor.ny.gov/sites/default/files/styles/card_vertical/public/2024-08/Governor%27sSeal1280x512_1.jpg?h=b5f6a62e&itok=G3wS21jf");
                    }
                    @media (min-width: 768px) {
                        .o-cardLogo.-index3.-paragraph3 {
                            background-image: url("https://www.governor.ny.gov/sites/default/files/styles/card_horizontal/public/2024-08/Governor%27sSeal1280x512_1.jpg?itok=1KTiaevA");
                        }
                    }
                </style>

                <style>
                    @media (min-width: 1024px) {
                        .o-cardLogo.-index3.-paragraph3 {
                            background-image: url("https://www.governor.ny.gov/sites/default/files/styles/card_vertical/public/2024-08/Governor%27sSeal1280x512_1.jpg?h=b5f6a62e&itok=G3wS21jf");
                        }
                    }
                </style>

                <article class="o-cardGlobalTablet">
                    <div>
                        <a href="/news/memo-governor-kathy-hochuls-appearance-house-committee-oversight-and-government-reform" class="o-cardLogo -index3 -paragraph3" aria-hidden="true" tabindex="-1" data-once="nygovExitModal">
                            <span class="sr-only">Gov. Hochul to Participate in Hearing on Immigration Policy</span>
                        </a>
                    </div>
                    <div class="o-cardContent">
                        <div class="m-card__data">
                            <h3>
                                <a class="a-card__label" href="/news/memo-governor-kathy-hochuls-appearance-house-committee-oversight-and-government-reform" data-once="nygovExitModal">
                                    Gov. Hochul to Participate in Hearing on Immigration Policy
                                </a>
                            </h3>
                            <span class="a-date a-date-14 text-bold text-uppercase">June 12, 2025</span>
                           

                            <div class="a-text__html a-card__description">
                                <p>Governor Hochul is voluntarily appearing before the United States House Committee on Oversight and Government Reform to participate in a hearing on immigration policy.</p>
                            </div>
                            {# ------- BLOG CATEGORIES ADDED ---------------- #}
                                {{
                                    blogChips({
                                        index:"3",
                                        chips: [
                                            {
                                                link:"#",
                                                text:"Human-centered Design"
                                                
                                            },
                                            {
                                                link:"#",
                                                text:"Accessibility"
                                            }
                                        ]   
                                    })
                                }}
                            {# ------- BLOG CATEGORIES ADDED ---------------- #}
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
