---
layout: nygov.njk
title: NYS Digital Service Data Table
permalink: "data-table/"
data: _distractionFree
---
{% from '../_includes/_components.njk' import dataTable with context %}
<style> {% include '../css/@nysds-styles/nys-design-system.css' %} </style>
<style>{% include '../_includes/dataTable/_dataTable.css'  %}</style>
<style>{% include '../_includes/dataTable/_datatables.css'  %}</style>
<div class="nysds-responsive-wrapper">
{{
    dataTable({
        dataSource: _distractionFree,
        tableName:"phonefree",
        title:"Phone-Free School Plans",
        caption:"New York State Schools and School Districts",
        searchPlaceholder:"Search by School Name, Type, or County",
        disclaimer: "This table is for informational purposes only. To verify your district or school's policy, or if you have questions about the policy, please contact your principal, superintendent or the NY State Education Department, which regulates schools and school districts.",
        tableHeaders: [
            {
                title: "Submission Status"
            },
            {
                title: "School or District Name"
            },
            {
                title: "Type"
            },
            {
                title: "County"
            }
            
        ]
    })
}}
</div>