---
layout: nygov.njk
title: Testing homepageHero
domain: nysds.dev
permalink: "homepageHero/"
---






<nys-textinput 
  name="searchInput"
  type="search" 
  placeholder="Search"
  id="searchInput"
>
  <nys-button
  slot="endButton"
  type="submit"
  label="Search"
  prefixIcon="search"
  id="searchButton"
  ></nys-button></nys-textinput>