---
layout: nygov.njk
title: NYS Digital Service Internal Site Nav demo
permalink: "internal-nav/"
---
{% from '../_includes/_components.njk' import global  %}
<style>{% include '../_includes/global/_global.css'  %}</style>


{{
    global({
        siteName:"Internal",
        links: [
            {
                text:"first",
                url:"#"
            },
            {
                text:"dropdown menu",
                items:[
                    {
                        text:"something",
                        url:"#"
                    }
                ]
            }
        ]
    })
}}