---
layout: nygov.njk
title: Testing Textfill
url: nysds.dev/table-checklist
domain: nysds.dev
permalink: "textfill-test/"
---
<script src="/js/textfill.min.js"></script>

<div id='myelement' style='width:400px;height:200px;border:solid 2px red;margin:0 auto;'>
  <span>
Governor Hochul Announce Landmark Agreement to Expedite Permanent Protection of Natural Resources

Governor Kathy Hochul and New York Attorney General Letitia James today announced a landmark agreem
Governor Hochul Announce Landmark Agreement to Expedite Permanent Protection of Natural Resources

Governor Kathy Hochul and New York Attorney General Letitia James today announced a landmark agreem
Governor Hochul Announce Landmark Agreement to Expedite Permanent Protection of Natural Resources

Governor Kathy Hochul and New York Attorney General Letitia James today announced a landmark agreem

</span>
</div>

<script>
  TextFill("#myelement",{
    maxFontPixels: 36
  });
</script>