---
layout: nygov.njk
title: Testing WC Datepicker
domain: nysds.dev
permalink: "wc-datepicker/"
---

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/wc-datepicker/dist/themes/light.css"
  />

<script src="js/prism.js"></script>

  <script
    type="module"
    src="https://cdn.jsdelivr.net/npm/wc-datepicker/dist/esm/wc-datepicker.js"
  ></script>

 

    <wc-datepicker></wc-datepicker>

