---
layout: nygov.njk
title: Twiiter Gov Quote Embed
---
{% from './_includes/_components.njk' import twitterQuote  %}
<style>{% include './_includes/twitterQuote/_twitterQuote.css'  %}</style>
{{
    twitterQuote({
      quote:"My message to Suffolk County as we recover from this summer’s extreme weather is simple: Your state is here for you. And we’re not going anywhere until the job is done.",
      credit:"Governor Kathy Hochul",
      handle:"GovKathyHochul",
      postUrl:"https://twitter.com/GovKathyHochul/status/1828917843213070595?ref_src=twsrc%5Etfw",
      media:"https://t.co/qXcOAJ9nUW"

    })
}}



{{
    twitterQuote({
      quote:"My message to Suffolk County as we recover from this summer’s extreme weather is simple: Your state is here for you. And we’re not going anywhere until the job is done.",
      looksLikeTwitter: true,
      credit:"Governor Kathy Hochul",
      image:"https://www.governor.ny.gov/sites/default/files/styles/hero_mobile/public/2023-01/GovKathyHochul_FeatureBio_Photo.jpg?h=8a7fc05e&itok=oUSGERtO&focal_point_preview_value=50x50",
      imageAlt:"governor kathy hochul",
      handle:"GovKathyHochul",
      postUrl:"https://twitter.com/GovKathyHochul/status/1828917843213070595?ref_src=twsrc%5Etfw",
      media:"https://t.co/qXcOAJ9nUW"

    })
}}
{# 

Enhancing Consumer Protections
https://www.governor.ny.gov/putting-money-back-your-pockets#enhancing_consumer_protections
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">From tackling medical debt to taking nation-leading action on insulin costs, we’re going to put money back in the pockets of New Yorkers and make our state more affordable. <a href="https://t.co/JaEEuKF6cD">pic.twitter.com/JaEEuKF6cD</a></p>&mdash; Governor Kathy Hochul (@GovKathyHochul) <a href="https://twitter.com/GovKathyHochul/status/1742329073521799354?ref_src=twsrc%5Etfw">January 2, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 
Building a More Resilient State
https://www.governor.ny.gov/protecting-new-yorkers#building_a_more_resilient_state
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">My message to Suffolk County as we recover from this summer’s extreme weather is simple: Your state is here for you. And we’re not going anywhere until the job is done. <a href="https://t.co/qXcOAJ9nUW">pic.twitter.com/qXcOAJ9nUW</a></p>&mdash; Governor Kathy Hochul (@GovKathyHochul) <a href="https://twitter.com/GovKathyHochul/status/1828917843213070595?ref_src=twsrc%5Etfw">August 28, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 
Supporting New York Workers
https://www.governor.ny.gov/protecting-new-yorkers#supporting_new_york_workers
<blockquote>
    <p dir="ltr" lang="en">
        The <a href=https://twitter.com/UAW?ref_src=twsrc%5Etfw>@UAW</a> workers are striking for fair wages, strong benefits, and the respect they deserve.<br>
        <br>
        Unions helped build the middle class in New York, and I’m proud to stand with them in this fight. <a href=https://t.co/ZBfa3NRt8A>pic.twitter.com/ZBfa3NRt8A</a>
    </p>
    <p>
        — Governor Kathy Hochul (@GovKathyHochul) <a href=https://twitter.com/GovKathyHochul/status/1710385537536676333?ref_src=twsrc%5Etfw>October 6, 2023</a>
    </p>
</blockquote>
 
Protecting the Environment
https://www.governor.ny.gov/building-stronger-state#protecting_the_environment
<blockquote>
    <p dir="ltr" lang="en">
        The completion of South Fork Wind marks a future-defining moment for our state, our country and our environment.<br>
        <br>
        Today we officially bring these turbines online — delivering clean energy to tens of thousands of homes and businesses on Long Island. <a href=https://t.co/YaPTpA9Ng9>pic.twitter.com/YaPTpA9Ng9</a>
    </p>
    <p>
        — Governor Kathy Hochul (@GovKathyHochul) <a href=https://twitter.com/GovKathyHochul/status/1768398994512732254?ref_src=twsrc%5Etfw>March 14, 2024</a>
    </p>
</blockquote>
 
Spurring Local Development
https://www.governor.ny.gov/building-stronger-state#spurring_local_development
<blockquote>
    <p dir="ltr" lang="en">
        The ice rink at Mitchell Park is a beloved spot for winter recreation, but operational complications have caused it to fall into disrepair.<br>
        <br>
        With our $1.2 million investment, we’re going to get the residents of Greenport skating again! <a href=https://t.co/CfTAbbsOZF>pic.twitter.com/CfTAbbsOZF</a>
    </p>
    <p>
        — Governor Kathy Hochul (@GovKathyHochul) <a href=https://twitter.com/GovKathyHochul/status/1824460392975757342?ref_src=twsrc%5Etfw>August 16, 2024</a>
    </p>
</blockquote> #}