<blockquote 
    class="nysds-twitter-quote"
    cite="{{params.postUrl}}"
    >
    <p class="nysds-twitter-quote-text">{{params.quote}}</p>
    <div class="nysds-twitter-credit">
        <span class="nysds-twitter-name">- {{params.credit}}</span> 
        <a class="nysds-twitter-handle" href="{{params.handleUrl}}">{{params.handle}}</a>
    </div>

</blockquote>
